---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>Made by Leander
			<svg class="text-skin-hue w-4 group-hover:animate-pulse" viewBox="0 0 55 37" fill="none" xmlns="http://www.w3.org/2000/svg">
				
			</svg>
		</span>
	</a>
</div><zxz<xz
